<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_clean1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,91}}</string>
                <key>sourceSize</key>
                <string>{138,91}</string>
            </dict>
            <key>btn_clean2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,91}}</string>
                <key>sourceSize</key>
                <string>{138,91}</string>
            </dict>
            <key>btn_del1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{138,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,91}}</string>
                <key>sourceSize</key>
                <string>{138,91}</string>
            </dict>
            <key>btn_del2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{138,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,91}}</string>
                <key>sourceSize</key>
                <string>{138,91}</string>
            </dict>
            <key>btn_num1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{138,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,91}}</string>
                <key>sourceSize</key>
                <string>{138,91}</string>
            </dict>
            <key>btn_num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{138,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,91}}</string>
                <key>sourceSize</key>
                <string>{138,91}</string>
            </dict>
            <key>input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{478,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,78}}</string>
                <key>sourceSize</key>
                <string>{478,78}</string>
            </dict>
            <key>text_jiarufangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,32},{184,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,49}}</string>
                <key>sourceSize</key>
                <string>{184,49}</string>
            </dict>
            <key>text_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,2},{400,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,28}}</string>
                <key>sourceSize</key>
                <string>{400,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room_join.png</string>
            <key>size</key>
            <string>{1724,95}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea6f7d9302eec9ff0275b0b16efafce8:de1ac6ed0833692299c6d52108049258:c810b054a5bb0672d622e7cb176d806a$</string>
            <key>textureFileName</key>
            <string>room_join.png</string>
        </dict>
    </dict>
</plist>
