<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>betNum1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{24,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,17}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>betNum10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,15}}</string>
                <key>sourceSize</key>
                <string>{32,15}</string>
            </dict>
            <key>betNum2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{27,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,17}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
            <key>betNum5.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{28,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,17}}</string>
                <key>sourceSize</key>
                <string>{28,17}</string>
            </dict>
            <key>betNum8.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{28,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,17}}</string>
                <key>sourceSize</key>
                <string>{28,17}</string>
            </dict>
            <key>bet_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{118,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,58}}</string>
                <key>sourceSize</key>
                <string>{118,58}</string>
            </dict>
            <key>btn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,67},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>btn_helper.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,67},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>btn_jiesan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,67},{198,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{198,80}</string>
            </dict>
            <key>btn_jiesan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,67},{198,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{198,80}</string>
            </dict>
            <key>btn_kaipai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{198,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{198,80}</string>
            </dict>
            <key>btn_mic.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,67},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>btn_niutishi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,149},{198,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{198,80}</string>
            </dict>
            <key>btn_ok1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,2},{156,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,63}}</string>
                <key>sourceSize</key>
                <string>{156,63}</string>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>btn_yaoqing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,67},{198,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{198,80}</string>
            </dict>
            <key>btn_yaoqing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,149},{198,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{198,80}</string>
            </dict>
            <key>btn_yellow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{109,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,55}}</string>
                <key>sourceSize</key>
                <string>{109,55}</string>
            </dict>
            <key>btn_yellow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{109,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,55}}</string>
                <key>sourceSize</key>
                <string>{109,55}</string>
            </dict>
            <key>btn_zhunbei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,149},{198,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{198,80}</string>
            </dict>
            <key>btn_zhunbei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,67},{198,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,80}}</string>
                <key>sourceSize</key>
                <string>{198,80}</string>
            </dict>
            <key>buqiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{156,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,63}}</string>
                <key>sourceSize</key>
                <string>{156,63}</string>
            </dict>
            <key>card_1028.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,246},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card_1205.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,246},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card_1290.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,246},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card_1305.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,246},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card_1542.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,246},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card_1796.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,246},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card_2059.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,246},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card_2314.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,246},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card_2567.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,246},{33,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,102}}</string>
                <key>sourceSize</key>
                <string>{33,102}</string>
            </dict>
            <key>card_268.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,246},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card_2822.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,246},{33,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,102}}</string>
                <key>sourceSize</key>
                <string>{33,102}</string>
            </dict>
            <key>card_3081.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,246},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card_3337.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,246},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card_3592.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,246},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card_3848.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,246},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card_4103.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,246},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card_4359.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,246},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card_5126.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,246},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card_514.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,246},{13,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,103}}</string>
                <key>sourceSize</key>
                <string>{13,103}</string>
            </dict>
            <key>card_5379.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,246},{33,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,102}}</string>
                <key>sourceSize</key>
                <string>{33,102}</string>
            </dict>
            <key>card_776.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,246},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,246},{60,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,133}}</string>
                <key>sourceSize</key>
                <string>{60,133}</string>
            </dict>
            <key>card_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,246},{66,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,137}}</string>
                <key>sourceSize</key>
                <string>{66,137}</string>
            </dict>
            <key>paigow_table_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{1280,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,960}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>player_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,246},{95,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,135}}</string>
                <key>sourceSize</key>
                <string>{95,135}</string>
            </dict>
            <key>player_head_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>player_head_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>qiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{156,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,63}}</string>
                <key>sourceSize</key>
                <string>{156,63}</string>
            </dict>
            <key>result_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>result_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>result_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,2},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>sz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,149},{92,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,95}}</string>
                <key>sourceSize</key>
                <string>{92,95}</string>
            </dict>
            <key>sz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,149},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,95}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>sz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,149},{88,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,95}}</string>
                <key>sourceSize</key>
                <string>{88,95}</string>
            </dict>
            <key>sz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,98}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>sz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,149},{87,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,95}}</string>
                <key>sourceSize</key>
                <string>{87,95}</string>
            </dict>
            <key>sz6.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,149},{85,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,90}}</string>
                <key>sourceSize</key>
                <string>{85,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paigow.png</string>
            <key>size</key>
            <string>{1284,1347}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:084bad24385a57ca61ff67e816fe4fe8:d5edfb7deca86479e1f728fb1543c0a7:3021e15373635a18c264a4117c6093b0$</string>
            <key>textureFileName</key>
            <string>paigow.png</string>
        </dict>
    </dict>
</plist>
