<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,361},{114,114}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{114,114}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>btn_addRoomCard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1002},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{56,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_addRoomCard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1002},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{56,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_gift1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,921},{125,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,121}}</string>
                <key>sourceSize</key>
                <string>{125,121}</string>
            </dict>
            <key>btn_gift2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,636},{123,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,121}}</string>
                <key>sourceSize</key>
                <string>{125,121}</string>
            </dict>
            <key>btn_giftExchange1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,964},{101,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,117}}</string>
                <key>sourceSize</key>
                <string>{101,119}</string>
            </dict>
            <key>btn_giftExchange2.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,964},{101,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,117}}</string>
                <key>sourceSize</key>
                <string>{101,119}</string>
            </dict>
            <key>btn_record1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,921},{125,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,121}}</string>
                <key>sourceSize</key>
                <string>{125,121}</string>
            </dict>
            <key>btn_record2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,638},{123,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{123,121}}</string>
                <key>sourceSize</key>
                <string>{125,121}</string>
            </dict>
            <key>btn_roomCard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,759},{123,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{123,121}}</string>
                <key>sourceSize</key>
                <string>{125,121}</string>
            </dict>
            <key>btn_roomCard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,763},{123,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{123,121}}</string>
                <key>sourceSize</key>
                <string>{125,121}</string>
            </dict>
            <key>btn_roomCreate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,921},{406,141}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{406,141}}</string>
                <key>sourceSize</key>
                <string>{406,157}</string>
            </dict>
            <key>btn_roomCreate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,513},{406,141}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{406,141}}</string>
                <key>sourceSize</key>
                <string>{406,157}</string>
            </dict>
            <key>btn_roomJoin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,513},{406,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,157}}</string>
                <key>sourceSize</key>
                <string>{406,157}</string>
            </dict>
            <key>btn_roomJoin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,513},{406,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,157}}</string>
                <key>sourceSize</key>
                <string>{406,157}</string>
            </dict>
            <key>btn_rule1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,513},{125,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,121}}</string>
                <key>sourceSize</key>
                <string>{125,121}</string>
            </dict>
            <key>btn_rule2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,513},{123,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{123,119}}</string>
                <key>sourceSize</key>
                <string>{125,121}</string>
            </dict>
            <key>btn_setting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1002},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>btn_setting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1002},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>btn_share1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1002},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>btn_share2.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1002},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>hallBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,960}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>hornBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{580,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,36}}</string>
                <key>sourceSize</key>
                <string>{580,36}</string>
            </dict>
            <key>ico_roomCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1002},{46,52}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{46,52}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>lobby_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,960}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>musume.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{597,509}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,509}}</string>
                <key>sourceSize</key>
                <string>{597,509}</string>
            </dict>
            <key>roomCardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{210,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,54}}</string>
                <key>sourceSize</key>
                <string>{210,54}</string>
            </dict>
            <key>tmp_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,964},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>userInfoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,2},{357,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{357,116}}</string>
                <key>sourceSize</key>
                <string>{357,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby.png</string>
            <key>size</key>
            <string>{2001,1079}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcac7d8df4a8652a20b02895c432750d:3f2bd8ff238fd9788a733238c9a2e3be:f1bafa2c26deda73cfe01e78b270c574$</string>
            <key>textureFileName</key>
            <string>lobby.png</string>
        </dict>
    </dict>
</plist>
